{% extends "base.html" %}
{% from "partials/macros.html" import project_item %}

{% block title %}Projects - Tobias Kaminski{% endblock %}
{% block description %}Open-source projects by Tobias Kaminski.{% endblock %}

{% block content %}
<div class="column page">
  <header class="page__header">
    <h1 class="page__title">Projects</h1>
    <p class="page__lead">Open-source software I build and maintain.</p>
  </header>
  <ul class="project-list">
    {% for project in projects %}
    {{ project_item(project, repo_stats.get(project.slug), heading_level=2) }}
    {% endfor %}
  </ul>
</div>
{% endblock %}
