<header class="site-header">
  <div class="container site-header__inner">
    <a class="site-header__name" href="/">Tobias Kaminski</a>
    <nav aria-label="Main">
      <ul class="site-nav">
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#engineering">Engineering</a></li>
        <li><a href="/#certifications">Certifications</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="{{ github_profile_url }}">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>
